:root {
  --hh-primary-color: #66bb6a;
  --hh-secondary-color: #ce93d8;
  --hh-error-color: #f44336;
  --hh-warning-color: #ffa726;
  --hh-info-color: #29b6f6;
  --hh-success-color: #90caf9;
  --hh-text-primary-color: rgba(0, 0, 0, 0.87);
  --hh-text-secondary-color: rgba(0, 0, 0, 0.6);
  --hh-text-disabled-color: rgba(0, 0, 0, 0.38);
}
