@import url('./_reset.scss');
@import url('./_color.scss');

a {
  // display: block;
  // padding: 10px;
  text-decoration: none;
  color: #000;
}
a:hover,
a:active,
a.active {
  color: var(--hh-primary-color);
}
