.container {
  max-width: 750px;
  padding: 1.5rem;
  margin: 0 auto;

  h1 {
    border-left: 12px solid var(--hh-primary-color);
    padding-left: 8px;
    padding-bottom: 0px;
    margin-top: 2em;
    line-height: 1.05;
  }
  
  h2 {
    position: relative;
    display: inline-block;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    &::after {
      position: absolute;
      display: inline-block;
      top: 0;
      right: -14px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: var(--hh-primary-color);
      content: '';
    }
  }
  
  div.final {
    margin-top: 5em !important;
  }
  
  code {
    color: var(--hh-primary-color);
    padding: 2px;
    border: 1.4px solid var(--hh-primary-color);
    border-radius: 5px;
  }
}