.root {
  position: relative;
  max-width: 750px;
  padding: 0 1rem;
  margin: 0 auto;
}

.header {
  position: relative;
  padding: 10px 0;
  margin: 20px 0 10px;
  border-bottom: 1px solid #000;
}

.title {
  margin: 5px 0;
}

.date {
  position: absolute;
  right: 0;
  top: 50%;
}

.thumb {
  margin-bottom: 20px;
}