.container {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 10px !important;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    div {
      padding: 5px 10px;
      border: 1px solid #000;
      border-radius: 10px;
      line-height: 1;
      cursor: pointer;
    }
  }
}