.container {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 10px !important;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
