.container {
  max-width: 750px;
  padding: 0 20px;
  margin: 0 auto 30px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  h1 {
    border: none;
    font-size: 30px;
  }
}

.nav {
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
}