.root {
  position: absolute;
  left: 100%;
  ul {
    width: 240px;
    list-style: none;
  }
  > ul {
    position: fixed;
  }
  a {
    padding: 2px;
    color: #ccc;
    transition:all 100ms cubic-bezier(0.4, 0, 0.2, 1) 0s
  }
  a:hover, a:active {
    color: #000;
  }
}